@inherits BaseComponent

<button id="@Id" type="@Type.ToString().ToLower()" class="@GetCssClass()" style="@GetStyles()" disabled="@Disabled" @onclick="OnClick" @attributes="Attributes">
    @ChildContent
</button>