@inherits BootComponentBase

<ul id="@Id" class="@BuildCssClassString()" role="tablist" @attributes="AdditionalAttributes">
    @for (int i = 0; i < Pages.Count; i++)
    {
        var page = Pages[i];
        var index = i;
        <li class="nav-item" @key="index">
            <a href="javascript:;" class="nav-link @GetActiveClass(index)" role="tab" @onclick="_=>Switch(index)">
            @(page.Title)
            </a>
        </li>
    }
</ul>

<div class="tab-content pt-2" style="@(BuildStylesString())">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>