@inherits BootComponentBase
<div id="@Id" class="progress" style="@BuildStylesString()" @attributes="AdditionalAttributes">
    <div class="@BuildCssClassString()" style="width:@(Percentage)%" role="progressbar" aria-valuenow="@Value" aria-valuemin="@Min" aria-valuemax="@Max">
        @if (Template == null)
        {
            @ChildContent
        }
        else
        {
            @Template(this)
        }
    </div>
</div>