@inherits BaseComponent

<div id="@Id" class="@GetCssClass() fade @((IsShown)?"show":"hide")" role="alert" @attributes="Attributes" style="@GetStyles()">
    
    @ChildContent
    @if (Closable)
    {
        <button type="button" class="close" @onclick="@(()=>Hide())">
            <span aria-hidden="true">&times;</span>
        </button>
    }
</div>