@inherits BaseComponent

<nav>
    <ul class="@GetCssClass()" @attributes="Attributes">
        @if (CurrentPage <= 1)
        {
            if (!HideOrDisable)
            {
                <li class="page-item disabled"><span class="page-link">@FirstPageText</span></li>
                <li class="page-item disabled"><span class="page-link">@PreviousPageText</span></li>
            }
        }
        else
        {
            <li class="page-item"><a class="page-link" href="javascript:;" @onclick="NavigateToFirst">@FirstPageText</a></li>
            <li class="page-item"><a class="page-link" href="javascript:;" @onclick="NavigateToPrevious">@PreviousPageText</a></li>
        }

        @{
            var start = 0;
            var end = 0;
            if (CurrentPage <= PageSize / 2 + 1)
            {
                start = 1;
                end = PageSize;
            }
            else if (CurrentPage > PageSize / 2 + 1)
            {
                start = CurrentPage - PageSize / 2;
                end = CurrentPage + PageSize / 2 - 1;
            }
            if (end > TotalPages)
            {
                end = TotalPages;
            }
            if (end <= PageSize)
            {
                start = 1;
            }
        }

        @for (int i = start; i <= end; i++)
        {
            int current = i;
            @if (CurrentPage == current)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item" @key="current"><a class="page-link" href="javascript:;" @onclick="@(()=>NavigateToPage(current))">@current</a></li>
            }
        }

        @if (CurrentPage >= TotalPages)
        {
            if (!HideOrDisable)
            {
                <li class="page-item disabled"><span class="page-link">@NextPageText</span></li>
                <li class="page-item disabled"><span class="page-link">@LastPageText</span></li>
            }
        }
        else
        {
            <li class="page-item"><a class="page-link" href="javascript:;" @onclick="NavigateToNext">@NextPageText</a></li>
            <li class="page-item"><a class="page-link" href="javascript:;" @onclick="NavigateToLast">@LastPageText</a></li>
        }
    </ul>
</nav>