@inherits BaseComponent
<div id="@Id" class="progress" style="@GetStyles()" @attributes="Attributes">
    <div class="@GetCssClass()" style="width:@(Percentage)%" role="progressbar" aria-valuenow="@Value" aria-valuemin="@Min" aria-valuemax="@Max">
        @if (Template == null)
        {
            @ChildContent
        }
        else
        {
            @Template(this)
        }
    </div>
</div>