@inherits BaseComponent

<ul id="@Id" class="@GetCssClass()" role="tablist" @attributes="Attributes">
    @for (int i = 0; i < Pages.Count; i++)
    {
        var page = Pages[i];
        <li class="nav-item">
            <a href="javascript:;" class="nav-link @GetActiveClass(page)" role="tab" @onclick="@(()=>ActivePage(page))">
            @(page.Title)
            </a>
        </li>
    }
</ul>

<div class="tab-content pt-2" style="@(GetStyles())">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>