@inherits BootComponentBase
@using System.Collections
<div class="row table-responsive bootblazor-datagrid">
    <div class="grid-header" style="@(FixHeader?"position:relative;top:0":string.Empty)">
        <table class="@BuildCssClassString()" style="@BuildStylesString()">
            <thead>
                <tr>
                    @if (RowNumber)
                    {
                        <th style="width:20px" class="text-center">
                            #
                        </th>
                    }
                    @foreach (var item in Columns)
                    {
                        <th style="@(item.GetWidthStyleString())">@item.GetTitle()</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
    <div class="grid-row" style="@GetRowStyle()">
        <table class="@BuildCssClassString()" style="@BuildStylesString()">
            <tbody>
                @if (IsCompleted)
                {

                    for (int i = 0; i < DataSource.Count; i++)
                    {
                        var item = DataSource[i];
                        var rowIndex = i;
                        <tr @key="rowIndex" @onclick="_=>ClickRow(item,rowIndex)" class="@GetRowCssByIndex(rowIndex)">
                            @if (RowNumber)
                            {
                                <td class="text-center" style="width:20px">
                                    @(i + 1)
                                </td>
                            }
                            @foreach (var col in Columns)
                            {
                                <td class="@col.BuildCssClassString()" style="@(col.GetWidthStyleString())">
                                    @{
                                        if (col is BootDataGridFieldColumn fieldColumn)
                                        {
                                            var value = item.GetValue(fieldColumn.Field);
                                            if (!string.IsNullOrWhiteSpace(fieldColumn.Format))
                                            {
                                                value = string.Format(fieldColumn.Format, value);
                                            }
                                            @value;
                                        }
                                        if (col is BootDataGridTemplateColumn templateColumn)
                                        {
                                            @templateColumn.ChildContent(item)
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@GetColSpan()" class="text-center text-muted">
                           <BootSpinner Size="Size.SM"/> 数据正在拼命加载...
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="grid-footer border-top bg-light pt-3 flex-row align-content-between" style="@(FixFooter?"position:relative;bottom:0":"")">

        @if (ShowPagination)
        {
            if (FootTemplate == null)
            {
                <BootPagination Size="Size.SM" PageSize="PageSize" CurrentPage="CurrentPage" TotalCount="TotalRecordCount" OnPageChanged="LoadPaginationData" PageNumberCount="PageNumberCount" FirstPageText="<" LastPageText=">" PreviousPageText="<<" NextPageText=">>" />
            }
            else
            {
                @FootTemplate
            }
        }
    </div>
</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
