@page "/table"

    <PageTitle Title="表格 Tables">
        表格是最常用的数据呈现控件。
    </PageTitle>
@code{
    class User
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public DateTime Birthday { get; set; }
    }

    List<User> Users = new List<User>()
    {
        new User{ Id= "1001", Name="张三", Birthday=new DateTime(1990,5,11) },
        new User{ Id= "1002", Name="李四", Birthday=new DateTime(1996,12,15) },
        new User{ Id= "1003", Name="王五", Birthday=new DateTime(1987,1,3) },        
        new User{ Id= "1004", Name="赵六", Birthday=new DateTime(1993,10,7) }
    };
}
<PresentationPart Title="简单示例">
    <Description>
        数据源 <code>DataSource</code> 要求是一个泛型的 <code>IReadOnlyList&lt;TItem></code> 集合对象，并在 <code>RowTemplate</code> 中使用 <code>context</code> 对象每一行的对象。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>        
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
        ```
        ```cs
@code{
    class User
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public DateTime Birthday { get; set; }
    }

    List<User> Users = new List<User>()
    {

        new User{ Id= ""1001"", Name=""张三"", Birthday=new DateTime(1990,5,11) },
        new User{ Id= ""1002"", Name=""李四"", Birthday=new DateTime(1996,12,15) },
        new User{ Id= ""1003"", Name=""王五"", Birthday=new DateTime(1987,1,3) },        
        new User{ Id= ""1004"", Name=""赵六"", Birthday=new DateTime(1993,10,7) }
    };
}
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="使用行号">
    <Description>
        设置 <code>RowNumber="true"</code> 可在第一列显示行号。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" RowNumber="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="4">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users""  UseRowNumber=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""4"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="深色背景">
    <Description>
        设置 <code>Dark="true"</code> 让表格背景呈现深色。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Dark="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Dark=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="行间隔色">
    <Description>
        设置 <code>Stripted="true"</code> 让表格的行有一个间隔颜色进行区分。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Striped="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Striped=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="显示边框">
    <Description>
        设置 <code>Bordered="true"</code> 使表格的每一个单元格都显示边框。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Bordered="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Bordered=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="隐藏边框">
    <Description>
        设置 <code>Borderless="true"</code> 使表格的边框全部隐藏。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Borderless="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Borderless=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="悬停高亮">
    <Description>
        设置 <code>Hover="true"</code> 可让鼠标悬浮行时有让行高亮显示。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Hover="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Hover=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="紧凑显示">
    <Description>
        设置 <code>Small="true"</code> 让每一行显示得更紧凑。
    </Description>
    <RunTemplate>
        <BootTable DataSource="Users" Small="true">
            <HeadTemplate>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
            </HeadTemplate>
            <RowTemplate>
                <td>@context.Id</td>
                <td>@context.Name</td>
                <td>@context.Birthday</td>
            </RowTemplate>
            <FootTemplate>
                <td colspan="3">
                    共有 @Users.Count 条数据
                </td>
            </FootTemplate>
        </BootTable>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootTable DataSource=""Users"" Small=""true"">
    <HeadTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
    </HeadTemplate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Birthday</td>
    </RowTemplate>
    <FootTemplate>
        <td colspan=""3"">
            共有 @Users.Count 条数据
        </td>
    </FootTemplate>
</BootTable>
```
        ")
    </CodeTemplate>
</PresentationPart>

<ArgumentDescriptionTable Title="属性">
    <tr>
        <td>HeadTemplate</td>
        <td>RenderFragment</td>
        <td>设置表格的列头模板。</td>
    </tr>
    <tr>
        <td>RowTemplate</td>
        <td>RenderFragment&lt;TItem></td>
        <td>设置表格的行模板。</td>
    </tr>
    <tr>
        <td>FootTemplate</td>
        <td>RenderFragment</td>
        <td>设置底部的模板。</td>
    </tr>
    <tr>
        <td>DataSource</td>
        <td>IReadOnlyList&lt;TItem></td>
        <td>设置表格的数据源。</td>
    </tr>
    <tr>
        <td>RowNumber</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示是否表格第一列使用行号。</td>
    </tr>
    <tr>
        <td>RowNumberHead</td>
        <td>String</td>
        <td>设置行号的表格标题名称。默认是“#”</td>
    </tr>
    <tr>
        <td>RowNumberWidth</td>
        <td>Int</td>
        <td>设置行号列的宽度，单位 px。默认 10px。</td>
    </tr>
    <tr>
        <td>Striped</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示每一个 tr 是否显示间隔颜色。</td>
    </tr>
    <tr>
        <td>Bordered</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示每一个 td/th 是否显示边框。</td>
    </tr>
    <tr>
        <td>Borderless</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示所有的 td/th 是否不显示边框。</td>
    </tr>
    <tr>
        <td>Dark</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示表格使用深色背景显示。</td>
    </tr>
    <tr>
        <td>Hover</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示行在鼠标悬浮时是否有颜色高亮。</td>
    </tr>
    <tr>
        <td>Small</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示使用小尺寸的表格。</td>
    </tr>
    <tr>
        <td>TableColor</td>
        <td>Color?</td>
        <td>设置表格的主题颜色。</td>
    </tr>
    <tr>
        <td>BackgroundColor</td>
        <td>Color?</td>
        <td>设置表格的背景颜色。</td>
    </tr>
    <tr>
        <td>ForeColor</td>
        <td>Color?</td>
        <td>设置表格的字体前景色。</td>
    </tr>
</ArgumentDescriptionTable>